/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFF7F7;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  font-size: 30px;
  margin: 15px;
  text-align: center;
}

h3 {
  margin: 15px;
  font-size: 25px;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto; /* Centrowanie w poziomie */
  display: flex;
  justify-content: center; /* Centrowanie w poziomie */
  flex-direction: column;
  box-sizing: border-box;
}

.hero {
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero h1 {
  font-size: 35px;
  text-transform: uppercase;
}
.hero .herobtn {
  position: absolute;
  bottom: 20px;
}

.pictex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  text-align: center;
}
.pictex .pic {
  height: 60%;
  margin-top: 20px;
}
.pictex .tex {
  height: 40%;
}

.tex1 {
  background: rgb(225, 206, 195);
  background: linear-gradient(180deg, rgb(225, 206, 195) 0%, rgb(255, 255, 255) 100%);
}

.tex4 {
  background-color: #E1CEC3;
  text-transform: uppercase;
}
.tex4 h2 {
  color: white;
}

.pic {
  background-color: green;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  height: 40vh;
  text-align: center;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price .priceitem {
  margin: 15px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.price .priceitem .priceitembg {
  background-color: green;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80vw;
  position: relative;
}
.price .priceitem .priceitembg .priceitemtx {
  background-color: white;
  width: 250px;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.threeprice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.threeprice .threebgc {
  background-color: green;
  width: 80%;
  height: 500px;
  margin-top: 30px;
  position: relative;
}
.threeprice .threebgc .threebtn {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.threeoffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.threeoffer .threebox {
  background-color: green;
  margin-bottom: 30px;
  width: 80%;
  text-align: center;
  height: 500px;
}

.tex3 {
  background-color: #A24E4E;
  color: white;
  text-transform: uppercase;
}

.beauty, .beauty2 {
  background-color: green;
  height: 50vh;
  line-height: 25vh;
}

.foot {
  height: 30vh;
  background: rgb(225, 206, 195);
  background: linear-gradient(0deg, rgb(225, 206, 195) 0%, rgb(175, 113, 83) 100%);
  color: white;
  line-height: 1.5;
}

@media (min-width: 992px) {
  .pictex {
    flex-direction: row;
    height: 60vh;
  }
  .pictex .pic {
    width: 30%;
    margin: 0;
    height: 100%;
  }
  .pictex .tex {
    width: 70%;
    height: 100%;
  }
  .pictex2 {
    flex-flow: row-reverse;
  }
  .price, .threeprice, .threeoffer {
    flex-direction: row;
  }
  .priceitem, .threebgc, .threebox {
    width: 20%;
    margin: 20px;
  }
  .beauty, .beauty2 {
    height: 70vh;
  }
  .pictex3 {
    flex-flow: row-reverse;
  }
  .pictex3 .pic {
    width: 40%;
  }
  .pictex3 .tex {
    width: 60%;
  }
  .price {
    width: 100%;
  }
  .price .priceitem {
    width: 30%;
    height: 400px;
  }
  .price .priceitem .priceitembg {
    height: 400px;
  }
}/*# sourceMappingURL=critical.css.map */